<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{housingLocation?.name}}"
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{housingLocation?.name}}</h2>
    <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{housingLocation?.availableUnits}}</li>
      <li>Does this location have wifi: {{housingLocation?.wifi}}</li>
      <li>Does this location have laundry: {{housingLocation?.laundry}}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName">
      <div *ngIf="applyForm.get('firstName')?.invalid && applyForm.get('firstName')?.touched" class="error-message">
        <small *ngIf="applyForm.get('firstName')?.hasError('required')">First name is required.</small>
        <small *ngIf="applyForm.get('firstName')?.hasError('minlength')">First name must be at least 2 characters.</small>
      </div>
    
      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName">
      <div *ngIf="applyForm.get('lastName')?.invalid && applyForm.get('lastName')?.touched" class="error-message">
        <small *ngIf="applyForm.get('lastName')?.hasError('required')">Last name is required.</small>
        <small *ngIf="applyForm.get('lastName')?.hasError('minlength')">Last name must be at least 2 characters.</small>
      </div>
    
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="applyForm.get('email')?.invalid && applyForm.get('email')?.touched" class="error-message">
        <small *ngIf="applyForm.get('email')?.hasError('required')">Email is required.</small>
        <small *ngIf="applyForm.get('email')?.hasError('email')">Enter a valid email address.</small>
      </div>
    
      <button type="submit" class="primary">Apply now</button>
    </form>
    
    
  </section>
</article>

